@media (max-width: 920px) {
    .info h2{
        margin-left: -3rem;
    }
    body{
        width: 100%;
    }
    nav{
        display: none;
    }
    .offers{
        top: 90rem;
        margin: 0rem 5rem;
    }
    .land h1{
        font-size: 7rem;
    }
    .land p{
        font-size: 3rem;
    }
    .offers{
        top: 150rem;
    }
    .offers img{
        width: 20rem;
    }
    main{
        top: 150rem;
    }
    .ads{
        top: 220rem;
        height: 50%;
    }
    .offers button{
        margin-bottom: 5rem;
    }
    .contact{
        top: 300rem;
        height: 60rem;
    }
    footer{
        top: 350rem;
    }
    marquee{
        margin-top: 12rem;
    }
}

@media (max-width: 865px) {
    .info h2{
        margin-left: -3rem;
        font-size: 2.4rem;
    }
    .info img{
        width: 35rem;
    }
    main{
        top: 120rem;
    }
    .offers{
        top: 130rem;
    }
    .ads{
        top: 190rem;
        height: 60%;
    }
    .contact{
        top: 270rem;
    }
    footer{
        top: 320rem;
    }
}

@media (max-width: 800px) {
    .land h1{
        font-size: 5rem;
    }
    .info img{
        width: 35rem;
    }
}

@media (max-width: 735px) {
.info img{
        width: 30rem;
    }
}

@media (max-width: 645px) {
    .offers img{
        width: 15rem;
    }
}
@media (max-width: 615px) {
    html{
        font-size: 57%;
    }
    marquee{
        margin-top: 7rem;
    }
}

@media (max-width: 540px) {
    html{
        font-size: 50%;
    }
    .land p{
        font-size: 2.5rem;
    }
    main{
        top: 100rem;
    }
    .offers{
        top: 100rem;
    }
    .ads{
        top: 160rem;
        height: 80%;
    }
    marquee{
        margin-top: 7rem;
    }
    .contact{
        top: 240rem;
    }
    footer{
        top: 290rem;
    }
}

@media (max-width: 510px) {
    html{
        font-size: 50%;
    }
    .land h1{
        font-size: 3.5rem;
    }
    main{
        top: 85rem;
    }
    .info h2{
        margin-left: 0rem;
        font-size: 1.5rem;
    }
    .info img{
        width: 35rem;
    }
    .offers{
        top: 95rem;
    }
    .contact{
        top: 240rem;
    }
    footer{
        top: 290rem
    }
    marquee{
        margin-top: 7rem;
    }
}
@media (max-width: 435px) {
    html{
        font-size: 45%;
    }
    .land h1{
        font-size: 3.5rem;
    }
    main{
        top: 125rem;
    }
    .info{
        top: 5rem;
    }
    .info h2{
        margin-left: 0rem;
        font-size: 1.7rem;
    }
    .info img{
        width: 30rem;
    }
    .offers{
        top: 140rem;
    }
    .ads{
        top: 200rem;
    }
    .contact{
        top: 330rem;
    }
    footer{
        top: 385rem
    }
    marquee{
        margin-top: 25rem;
    }
    #name, #email{
        padding: 1rem 3rem;
    }
    #message{
        padding: 8rem 16rem;
    }
}
@media (max-width: 375px) {
    html{
        font-size: 40%;
    }
    .land h1{
        font-size: 5rem;
    }
    .land p{
        font-size: 2.1rem;
    }
    main{
        top: 110rem;
    }
    .info{
        height: 70%;
    }
    .info h2{
        margin-left: 0rem;
        font-size: 1.7rem;
    }
    .info img{
        width: 30rem;
    }
    .offers{
        top: 97rem;
    }
    .ads{
        top: 155rem;
    }
    .contact{
        top: 280rem;
    }
    footer{
        top: 340rem
    }
    marquee{
        margin-top: 30rem;
    }
}
@media (max-width: 320px) {
    html{
        font-size: 37%;
    }
    .land h1{
        font-size: 4rem;
    }
    .land p{
        font-size: 1.8rem;
    }
    .contact p{
        font-size: 1.5rem;
    }
    main{
        top: 120rem;
    }
    #name, #email{
        padding: 0.3rem 2rem;
    }
    #message{
        padding: 5rem 14rem;
    }
    .img{display: block;}

    .ads{
        top: 210rem;
    }
    .offers{
        top: 95rem;
    }
    .offers p{
        font-size: 2.2rem;
        margin: 1rem 0rem;
    }

    .contact{
        top: 330rem;
    }
    footer{
        top: 380rem
    }
    .offers button{
        font-size: 2rem;
    }
    marquee{
        margin-top: 30rem;
    }
}

@media (max-width: 280px) {
    .contact{
        top: 310rem;
    }
    footer{
        top: 365rem;
    }
    marquee{
        margin-top: 16rem;
    }
    #name, #email{
        padding: 0.6rem 1rem;
    }
    #message{
        padding: 7rem 12rem;
    }
}